@import "../node_modules/bulma/bulma.sass";
@import "./scss/navbar";
@import "./scss/home";

@font-face {
    font-family: 'Mulish', sans-serif; ;
    src: url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
}

.font{
    &.mulish{
        font-family: Mulish;
    }
}