.card-container{
    background-color: #f2f2f2;
    transition: ease all .2s;
    text-decoration: none;
    &:hover{
        box-shadow: 4px 4px 5px rgba(56, 56, 56, 0.2);
    }
    
    .normal{
        color:  #252525;
    }
    .card-title{
        min-height: 8rem;
        max-width: 60%;
    }
    .width{
        width: 100%;
    }
    .container-price{
        width: 100%;
    }
    .offer{
        text-decoration: line-through;
        float: right;
        &.true{
            color: #494949b4;
        }
        &.false{
            color: rgba(255, 255, 255, 0)
        }
    
    }
}